.Rproj.user
.Rhistory
.RData
.Ruserdata
*.zip
*.odx
analysis_pipeline/
Bayes_literature/
archived/
data/BFR9_raw/Logs/*.txt
data/BFR9_raw/Logs_backup/
data/BFR9_raw/Logs_N285/
data/BFR9_smoothing/Logs/*.txt
data/BFR9_smoothing/Logs_backup/
data/BFR9_smoothing/Logs_N285/
data/BFR9_raw_general/
data/BFR9_smoothing_general/
output/smooth/mlr_analysis/brf9_mlr_data.csv
output/smooth/BFR_ts_data.rds
output/smooth/brf9_mlr_data.csv
output/raw/mlr_analysis/brf9_mlr_data.csv
output/raw/BFR_ts_data.rds
output/raw/brf9_mlr_data.csv
reports/
*.Rmd
*.html
files_tracked.txt

!data/BFR9_smoothing/Logs/logs_part.zip
!data/BFR9_raw/Logs/logs_part.zip
